<section id="breadcrumb" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <ul class="breadcrumb">
                    <% breadcrumbs.forEach((crumb, index) => { %>
                        <li class="breadcrumb-item <%= index === breadcrumbs.length - 1 ? 'active' : '' ;%>">
                            <% if (crumb.url) { %>
                                <a href="<%= crumb.url; %>"><%= crumb.name; %></a>
                            <% } else { %>
                                <%= crumb.name; %>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>

            </ol>
        </nav>
    </div>
</section>