<div
        id="home-page-carousel"
        class="carousel slide container-fluid"
        data-bs-ride="carousel"

>
    <div class="carousel-indicators">
        <button
                type="button"
                data-bs-target="#home-page-carousel"
                data-bs-slide-to="0"
                class="active"
        ></button>
        <button
                type="button"
                data-bs-target="#home-page-carousel"
                data-bs-slide-to="1"
        ></button>
        <button
                type="button"
                data-bs-target="#home-page-carousel"
                data-bs-slide-to="2"
        ></button>
        <button
                type="button"
                data-bs-target="#home-page-carousel"
                data-bs-slide-to="3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="position-relative">
                <img
                        src="/images/image1.png"
                        class="d-block carousel-img"
                        alt="Image 1"
                />
                <!-- Black Layer-->
                <div class="w-100 h-100 position-absolute bg-black top-0 opacity-25"></div>
            </div>
            <div
                    style="margin: 165px"
                    class="carousel-caption d-none d-md-block"
            >
                <h5 style="font-size: 6rem;color: #FCB300; font-family: Koulen,serif">Make it happen</h5>
            </div>
        </div>
        <div class="carousel-item">
            <div class="position-relative">
                <img
                        src="/images/image2.jpg"
                        class="d-block carousel-img"
                        alt="Image 2"
                />
                <!-- Black Layer-->
                <div class="w-100 h-100 position-absolute bg-black top-0" style="opacity: 50%"></div>
            </div>
            <div
                    style="margin: 165px"
                    class="carousel-caption d-none d-md-block"
            >
                <h5 style="font-size: 5rem; font-family: Koulen,serif; color: #FCB300;">
                    Your body Your mind
                </h5>
            </div>
        </div>
        <div class="carousel-item">
            <div class="position-relative">
                <img
                        src="/images/image3.jpg"
                        class="d-block carousel-img"
                        alt="Image 3"
                />
                <!-- Black Layer-->
                <div class="w-100 h-100 position-absolute bg-black top-0" style="opacity: 50%"></div>
            </div>
            <div
                    style="margin: 165px"
                    class="carousel-caption d-none d-md-block"
            >
                <h5 style="font-size: 6rem; font-family: Koulen,serif; color: #FCB300;">
                    Nothing is impossible
                </h5>
            </div>
        </div>
        <div class="carousel-item">
            <div class="position-relative">
                <img
                        src="/images/image4.jpg"
                        class="d-block carousel-img"
                        alt="Image 4"
                />
                <!-- Black Layer-->
                <div class="w-100 h-100 position-absolute bg-black top-0" style="opacity: 50%"></div>
            </div>
            <div
                    style="margin: 165px"
                    class="carousel-caption d-none d-md-block"
            >
                <h5 style="font-size: 6rem; font-family: Koulen,serif;color: #FCB300;">
                    Consistency</h5>
            </div>
        </div>
    </div>

    <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#home-page-carousel"
            data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#home-page-carousel"
            data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>