<%- include("../../layouts/header.ejs") %>
<form action="" method="post" id="delete-inquiry-form"></form>
<main class="">
    <div class="row">
        <div class="container">
            <!-- Button trigger modal -->
            <div class="container d-md-flex justify-content-between my-3">
                <h4>Inquiries</h4>
            </div>

            <%- include("../../components/validation-error") %>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped rounded-3 overflow-hidden">
            <thead class="table-apex-secondary ">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>

<script>
  $(".deleteInquiry").click(deleteInquiry)

  function deleteInquiry() {

    const adminId = this.getAttribute("data-id")
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this inquiry!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        $("#delete-inquiry-form")
          .attr("action", `/inquiry/inquiries/delete/${adminId}`)
          .submit()
      }
    })
  }
</script>

<%- include("../../layouts/footer.ejs") %>
