body {
    background-color: lightgrey;
}

@media screen and (max-width: 845px){
    body {
        background-color: white;
    }
    
}

.greetings_container{
    font-size: 1.5rem;
    margin-bottom: calc(20/16*1rem);
    background-color: whitesmoke;
    padding: 10px;
    vertical-align: middle;
    border-radius: 20px;
}

.greetings-text{
    padding-left: 1rem;
    text-align: center;
    background-color: inherit;
    color: black;
}

.pf-img_small{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.side-links-container{
    background-color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 20px;
}

.side-links{
    list-style: none;
    list-style-type: none;
    display: flex;
    align-content: center;
    padding: 1rem;
    
    transition: background-color 0.5s ease-in-out;
}

.side-links:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.side-links:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side-links:hover{
    background-color: wheat;
    
}

.side-links>img{
    border: 1px solid black;
}

.side-links>a{
    display: block;
    text-decoration: none;
    margin: auto 1rem;
    color: black;
    font-size: 1rem;
}

/* Start of mobile list style */
mobile-nav{
    margin: auto auto;
    align-items: center;
}
/* Start of admin home style */

.admin-home_container{
    padding: 20px;
    border-radius: 20px;
}

.admin-home_container>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.pg-title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: start;
    margin: auto 0;
}

.action_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.admin-redir{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #509c43;
    color: whitesmoke;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 30%;
}

.admin-redir>svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin: auto auto;
}

.th_content{
    font-size: 1rem;
    font-style: normal;
}

.edit{
    border-radius: 0%;
    font-size: 1rem;
    background-color: #93773e;
    color: whitesmoke;
    justify-self: start;
    width: 50%;
    height: 100%;
}

.delete{
    font-size: 1rem;
    background-color: #c43e3e;
    color: whitesmoke;
    width: 50%;
    height: 100%;
    border-radius: 0%;
}

@media screen and (max-width: 845px){
    
    
    .edit, .delete{
        font-size: 0.8rem;
    }
}

.create{
    width: 15%;
}

.arrow{
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: wheat;
    color: #020202;
}

.prev, .next {
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    background-color: inherit;
  }
  
  .prev {
    margin-right: 10px;
  }
  
  .next {
    margin-left: 10px;
  }


/* Start of admin create style */
.new-admin_container{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

.form-container>div{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-container>div:last-child{
    width: 50%;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.fcreate{
    background-color: wheat;
    color: #2f2f2f;
    border: 1px solid white;
    border-radius: 10px;
}

.fcancel{
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #2f2f2f;
    border-radius: 10px;
    border: 1px solid #2f2f2f;
}

.fcancel, .fcreate{
    padding: 10px;
    width: 45%;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.form-container>div>label{
    font-size: 1.2rem;
    margin-right: 10px;
    width: 30%;
}

.form-container>div>input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.page-num{
    font-size: 1.5rem;
    margin: auto 0;
}