.cart-table td, .cart-table th {
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.cart-table {
  margin-top: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e5e5;
}

.cart-table th {
  background-color: #e5e5e5;
}