<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admins</title>
    <link rel="stylesheet" href="/css/all.css" />
    
  </head>
  <body>
    <nav>
      <div class="d-none d-md-block container mt-4">
        <div class="row">
          <div class="col-md-3">
            <span class="navbar-brand mb-0 h1">Admins</span>
          </div>

          <div class="col-md-9 greetings_container d-none d-md-block">
            <div class="d-flex justify-content-between">
              <p class="greetings-text d-none d-md-block">Hello, John</p>
              <img
                class="pf-img_small"
                src="https://unsplash.it/500/500"
                alt="user"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Nav -->
      <div class="container-fluid d-md-none d-flex mt-4 flex-column justify-content-between">
        <div class="row justify-content-center">
          <div class="col-4 mobile_nav">
            <img
                class="pf-img_small"
                src="https://unsplash.it/500/500"
                alt="user"
              />
          </div>

          <div class="col-4 mobile_nav text-center">
            <span class="navbar-brand mb-0 h1">PEAK</span>
          </div>
          <div class="col-4 mobile_nav text-end">
            <a id="sidebar_toggler">
              <img src="menu-burger.png" class="" alt="dashboard"/>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End of Nav-->

    <!-- Start of Side Bar-->
    <div class="container" id="sidebar_container">
      <div class="row">
        <div class="d-none col-12 d-md-block col-md-3" id="sidebar">
          <div class="d-lg-flex flex-column side-links-container">
            <li class="side-links">
                <img src="https://unsplash.it/50/50" class="pf-img_small" alt="dashboard" />
                <a href="">Dashboard</a>
            </li>
            <li class="side-links">
                <img src="https://unsplash.it/50/50" class="pf-img_small" alt="dashboard" />
                <a href="">Admins</a>
            </li>
            <li class="side-links">
                <img src="https://unsplash.it/50/50" class="pf-img_small" alt="dashboard" />
                <a href="">Customers</a>
            </li>
            <li class="side-links">
                <img src="https://unsplash.it/50/50" class="pf-img_small" alt="dashboard" />
                <a href="">Products</a>
            </li>
            <li class="side-links">
                <img src="https://unsplash.it/50/50" class="pf-img_small" alt="dashboard" />
                <a href="">Categories</a>
            </li>
            <li class="side-links">
                <img src="https://unsplash.it/50/50" class="pf-img_small" alt="dashboard" />
                <a href="">Sales</a>
            </li>
            <li class="side-links">
                <img src="https://unsplash.it/50/50" class="pf-img_small" alt="dashboard" />
                <a href="">Inquires</a>
            </li>
          </div>
        </div>
        

        <div class="col-12 col-md-9 mt-5">
            <div class="d-flex justify-content-between">
              <h2 class="pg-title">Admins</h2>
              <a href="/admin/create" class="admin-redir create">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#ffffff" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                <span class="d-none d-md-inline">New Admin</span>
              </a>
            </div>
            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th scope="col" class="th_content"><input type="checkbox" id="checkbox-all"></th>
                  <th scope="col" class="th_content">ID</th>
                  <th scope="col" class="th_content">Name</th>
                  <th scope="col" class="th_content">Email</th>
                  <th scope="col" class="th_content">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" id="admin1"></th>
                  <td>1</th>
                  <td>John Doe</td>
                  <td>email-data</td>
                  <td class="action_container">
                    <a href="/admin/edit" class="admin-redir edit">Edit</a>
                    <a href="/admin/delete" class="admin-redir delete">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table> 
            
            <div class="d-flex justify-content-end ">
              <button class="prev"><span class="arrow">&#9664;</span> Prev</button>
              <span class="page-num">1</span>
              <button class="next">Next <span class="arrow">&#9654;</span></button>
            </div> 
        </div>
    </div>

    <script src="/js/all.js"></script>
  </body>
</html>
