<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
    <link rel="stylesheet" href="/css/all.css" />
  </head>
  <body>
    <!-- Start of SideBar-->
    <div class="d-flex flex-row">
      <nav class="w-25">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="bg-body-tertiary">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/category">Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Orders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- Start of Category Content-->
      <main class="w-75">
        <section>
          <h2 class="m-5">Create Category</h2>

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <form action="/admin/category" method="post">
                  <div class="mb-3">
                    <label for="create-category" class="form-label"
                      >Category Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="create-category"
                      name="create-category"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Create</button>
                </form>
              </div>
            </div>
          </div>
        </section>

        <section>
          <h2 class="m-5">Edit Category</h2>

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <form action="/admin/category" method="post">
                  <div class="mb-3">
                    <label for="update-category" class="form-label"
                      >Category Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="update-category"
                      name="update-category"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
