<%- include("../layouts/header.ejs") %>

<main class="container">
    <div class="row">
        <div class="col">
            Hello World
        </div>
    </div>
</main>

<%- include("../layouts/footer.ejs") %>