<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head') %>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="d-flex">
      <%- include('../layouts/admin_sidebar') %>

      <div class="greeting d-none d-md-block">
        <span>Hello, John 👋</span>
        <img alt="profile picture" class="profile-img" src="https://unsplash.it/500/500"/>
      </div>
    </div>

      <main>
        <div class="row">
            <div class="col">
              Hello World
            </div>
          </div>
        </div>
      </main>
  </body>
</html>
