@import "bootstrap";

body {
  font-family: "Karla", sans-serif;
}

.left {
  padding: 50px
}

.logo-container {
  width: 100%;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  padding: 15px 10px;
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 4px;
}

.form-group input:focus {
  box-shadow: none;
}

.form-group i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #ced4da;
}

.or-divider {
  margin: 2.4rem 0;
  position: relative;
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.or-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 10px;

}