 //APEX Theme
$apex-green: #27AE60;
$apex-secondary: #FDDB8E;
$apex-primary: #FCB300;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "apex-primary": $apex-primary,
  "apex-secondary": $apex-secondary,
  "apex-green":  $apex-green
);

@mixin table-variant($state, $background) {
    .table-#{$state} {
      $color: $background;
      $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
      $striped-bg: mix($color, #fff, percentage(0.6));
      $active-bg: mix($color, $background, percentage($table-active-bg-factor));
  
      --#{$variable-prefix}table-bg: #{$background};
      --#{$variable-prefix}table-striped-bg: #{$striped-bg};
      --#{$variable-prefix}table-striped-color: #{color-contrast($striped-bg)};
      --#{$variable-prefix}table-active-bg: #{$active-bg};
      --#{$variable-prefix}table-active-color: #{color-contrast($active-bg)};
      --#{$variable-prefix}table-hover-bg: #{$hover-bg};
      --#{$variable-prefix}table-hover-color: #{color-contrast($hover-bg)};
  
      color: $color;   
      border-color: mix($color, $background, percentage($table-border-factor));
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value, $value);
    }
  }
  
  @each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @include button-outline-variant($value);
    }
  }


@include table-variant('apex-secondary', $apex-secondary);
@include table-variant('apex-primary', $apex-primary);

