<section id="sidebar">
    <aside class="sidebar d-none d-md-block">
        <div class="sidebar-brand-container">
            <img src="/images/Apex-logos_black 2.png" alt="Logo">
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa-solid fa-table-columns"></i>
                <span>Dashboard</span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-user-group"></i>
                <span>Admins</span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-clipboard"></i>
                <span>Customers</span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-shirt"></i>
                <span>Products</span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-list"></i>
                <span>Categories</span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>Sales</span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-message"></i>
                <span>Inquiries</span>
            </li>
        </ul>
    </aside>

    <%- include("mobile-nav.ejs") %>
</section>