<section id="sidebar">
    <aside class="sidebar d-none d-md-block">
        <div class="sidebar-brand-container">
            <img src="/images/Apex-logos_black 2.png" alt="Logo">
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa-solid fa-table-columns"></i>
                <span><a href="/admin/dashboard"></a>Dashboard</span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-user-group"></i>
                <span><a href="/admin/admins">Admins</a></span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-clipboard"></i>
                <span><a href="/admin/customers">Customers</a></span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-shirt"></i>
                <span><a href="/admin/products">Products</a></span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-list"></i>
                <span><a href="/admin/category">Categories</a></span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span><a href="/admin/sale">Sales</a></span>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-message"></i>
                <span><a href="/admin/inquiries">Inquiries</a></span>
            </li>
        </ul>
    </aside>

    <%- include("mobile-nav.ejs") %>
</section>