</section>
</div>
<script src="/js/sweetalert.js"></script>
<script src="/js/all.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<%- include("toastr") %>
</body>
</html>
