<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %>
    <title>Dashboard</title>
</head>
<body>
<div class="d-block d-md-flex">
    <%- include('../layouts/admin_sidebar') %>

    <section id="right-container" class="flex-grow-1">
        <div class="greeting d-none d-md-flex justify-content-between">
            <span>Hello, John 👋</span>
            <img alt="profile picture" class="profile-img" src="/images/image1.png"/>
        </div>