<%- include("./layouts/header") %>

<!-- Carousel -->
<%- include("./partials/carousel.ejs")%>

<!-- New Release -->
<div class="container">
    <section id="new-release">
        <div class="row">
            <div class="col-12">
                <h2 class="text-start fw-bold mt-5 mb-4">New Release</h2>
            </div>
        </div>
        <div id="new-release-product" class="overflow-auto d-flex gap-3">
            <div class="col-3">
                <div class="card h-100">
                    <img
                            src="Images/release-img1.png"
                            class="card-img-top"
                            alt="image1"
                    />
                    <div class="card-body">
                        <h5 class="card-title card-header-style fs-5">Nike Air 2024</h5>
                    </div>
                    <div
                            style="border: none; background-color: transparent"
                            class="card-footer p-3"
                    >
                        <button type="button" class="btn btn-warning shop-now-button">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card h-100">
                    <img
                            src="Images/release-img1.png"
                            class="card-img-top"
                            alt="image1"
                    />
                    <div class="card-body">
                        <h5 class="card-title card-header-style fs-5">Nike Air 2024</h5>
                    </div>
                    <div
                            style="border: none; background-color: transparent"
                            class="card-footer p-3"
                    >
                        <button type="button" class="btn btn-warning shop-now-button">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card h-100">
                    <img
                            src="Images/release-img1.png"
                            class="card-img-top"
                            alt="image1"
                    />
                    <div class="card-body">
                        <h5 class="card-title card-header-style fs-5">Nike Air 2024</h5>
                    </div>
                    <div
                            style="border: none; background-color: transparent"
                            class="card-footer p-3"
                    >
                        <button type="button" class="btn btn-warning shop-now-button">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card h-100">
                    <img
                            src="Images/release-img2.png"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title card-header-style fs-5">Ping Golf</h5>
                    </div>
                    <div
                            style="border: none; background-color: transparent"
                            class="card-footer p-3"
                    >
                        <button type="button" class="btn btn-warning shop-now-button">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card h-100">
                    <img
                            src="Images/release-img3.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title card-header-style fs-5">
                            Nike Sport Bra
                        </h5>
                    </div>
                    <div
                            style="border: none; background-color: transparent"
                            class="card-footer p-3"
                    >
                        <button type="button" class="btn btn-warning shop-now-button">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Release load forward and backward button -->
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="d-flex justify-content-end">
                    <button
                            id="new-release-product-scroll-left"
                            type="button"
                            class="btn btn-warning me-4"
                            style="border-radius: 20px"
                    >
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>

                    <button
                            id="new-release-product-scroll-right"
                            type="button"
                            class="btn btn-warning me-4"
                            style="border-radius: 20px"
                    >
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Equipment shop now -->
    <section id="Equipment">
        <div class="row">
            <div class="col-md-6 mt-5">
                <img
                        class="img-fluid mx-auto d-block"
                        src="Images/badminton.png"
                        alt="badminton"
                />
            </div>
            <div
                    class="text-center col-md-6 mt-md-0 mt-4 d-flex flex-column justify-content-center"
            >
                <h1 class="fst-italic fw-bold">
                    All fitness equipment in one place
                </h1>
                <p class="fw-light">get yours today</p>
                <div>
                    <button type="button" class="btn btn-warning shop-now-button">
                        Shop Now
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- feature products -->
<section id="feature-products">
    <div class="container">
        <h2 class="text-start fw-bold">Feature Products</h2>
    </div>
    <div class="feature_bg py-5">
        <div class="container">
            <div class="row">
                <div class="col-4 my-4">
                    <div class="card">
                        <img
                                src="Images/football-shoes.jpg"
                                class="card-img-top object-fit-cover border rounded"
                                style="max-height: 400px"
                                alt="football-shoes"
                        />

                        <div class="card-body">
                            <h5 class="card-title card-header-style">Nike Footwear</h5>
                        </div>
                        <div
                                style="border: none; background-color: transparent"
                                class="card-footer p-3"
                        >
                            <button type="button" class="btn feature_button shop-now-button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 my-4">
                    <div class="card">
                        <img
                                src="Images/hockey.jpg"
                                class="card-img-top object-fit-cover border rounded"
                                style="max-height: 400px"
                                alt="football-shoes"
                        />

                        <div class="card-body">
                            <h5 class="card-title card-header-style">Nike Footwear</h5>
                        </div>
                        <div
                                style="border: none; background-color: transparent"
                                class="card-footer p-3"
                        >
                            <button type="button" class="btn feature_button shop-now-button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 my-4">
                    <div class="card">
                        <img
                                src="Images/football-shoes.jpg"
                                class="card-img-top object-fit-cover border rounded"
                                style="max-height: 400px"
                                alt="football-shoes"
                        />

                        <div class="card-body">
                            <h5 class="card-title card-header-style">Nike Footwear</h5>
                        </div>
                        <div
                                style="border: none; background-color: transparent"
                                class="card-footer p-3"
                        >
                            <button type="button" class="btn feature_button shop-now-button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 my-4">
                    <div class="card">
                        <img
                                src="Images/badminton.png"
                                class="card-img-top object-fit-cover border rounded"
                                style="max-height: 400px"
                                alt="football-shoes"
                        />

                        <div class="card-body">
                            <h5 class="card-title card-header-style">Nike Footwear</h5>
                        </div>
                        <div
                                style="border: none; background-color: transparent"
                                class="card-footer p-3"
                        >
                            <button type="button" class="btn feature_button shop-now-button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 my-4">
                    <div class="card">
                        <img
                                src="Images/volleyball.jpg"
                                class="card-img-top object-fit-cover border rounded"
                                style="max-height: 400px"
                                alt="football-shoes"
                        />

                        <div class="card-body">
                            <h5 class="card-title card-header-style">Nike Footwear</h5>
                        </div>
                        <div
                                style="border: none; background-color: transparent"
                                class="card-footer p-3"
                        >
                            <button type="button" class="btn feature_button shop-now-button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 my-4">
                    <div class="card">
                        <img
                                src="Images/pink_sportbra.png"
                                class="card-img-top object-fit-cover border rounded"
                                style="max-height: 400px"
                                alt="football-shoes"
                        />

                        <div class="card-body">
                            <h5 class="card-title card-header-style">Nike Footwear</h5>
                        </div>
                        <div
                                style="border: none; background-color: transparent"
                                class="card-footer p-3"
                        >
                            <button type="button" class="btn feature_button shop-now-button">
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-grid col-6 mx-auto py-3">
                    <button type="button" class="btn btn-outline-dark">Shop More</button>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- Sportwear shop now -->
    <section id="Sportwear">
        <div class="row flex-column-reverse flex-md-row">
            <div
                    class="text-center col-md-6 mt-md-0 mt-4 d-flex flex-column justify-content-center"
            >
                <h1 class="fst-italic fw-bold">
                    Your favorite sportwear in one place
                </h1>
                <p class="fw-light">get yours today</p>
                <div>
                    <button type="button" class="btn btn-warning shop-now-button">
                        Shop Now
                    </button>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <img
                        class="img-fluid mx-auto d-block"
                        src="Images/pink_sportbra.png"
                        alt="pink_sportbra"
                />
            </div>
        </div>
    </section>
</div>

<script>
  $(document).ready(function() {
    $("#new-release-product-scroll-left").click(function() {
      $("#new-release-product").animate({ scrollLeft: 0 });
    });

    $("#new-release-product-scroll-right").click(function() {
      $("#new-release-product").animate({ scrollLeft:  };
    });
  });
</script>

<%- include('./layouts/footer.ejs') %>
