<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Sportwear Page</title>
  </head>
  <!--Koulen, Arimo, Karla font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Koulen&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/storefront/styles.css" />
  <link rel="stylesheet" href="/css/storefront/products.css" />

  <!-- Bootstrap link -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />

  <script
    src="https://kit.fontawesome.com/b943f4a090.js"
    crossorigin="anonymous"
  ></script>
  <body>
    <!-- Header -->
    <section id="header">
      <div>
        <ul class="nav justify-content-end" style="background-color: #19204e">
          <li class="nav-item">
            <a
              class="nav-link active"
              style="color: whitesmoke"
              aria-current="page"
              href="#help-page.html"
              >Help</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: whitesmoke"
              href="#contact-us.html"
              >Join us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke" href="#signup.html"
              >Sign up</a
            >
          </li>
        </ul>
      </div>

      <div>
        <nav
          class="navbar navbar-expand-lg bg-body-tertiary justify-content-between"
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="Images/Apex-logos_black 2.png"
                alt="Apex Logo"
                width="150"
                height="34"
              />
            </a>
            <div
              class="collapse navbar-collapse order-3 order-lg-2"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Shop
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Tennis</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Golf</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Badminton</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Football</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Swimming</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Explore</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Brand
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Nike</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Addidas</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Erke</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Jordan</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Ping</a
                      >
                    </li>

                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Explore</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Equipment
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="product_equipment.html"
                        >Football</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_equipment.html"
                        >Rackets</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_equipment.html"
                        >Gym equipment</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_equipment.html"
                        >Home fitness</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_equipment.html"
                        >Water sport equipment</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="product_equipment.html"
                        >Explore</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Sportwear
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Men</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Women</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Kids</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="product_sportwear.html"
                        >Explore</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link active" href="#" aria-disabled="false"
                    >Contact us</a
                  >
                </li>
              </ul>
            </div>
            <div class="d-flex align-items-center order-lg-3 order-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search d-block d-lg-none"
                style="margin-right: 1.5rem"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                />
              </svg>

              <form
                class="d-lg-flex d-none"
                style="margin-right: 1.5rem"
                role="search"
              >
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-dark" type="submit">
                  <img
                    src="Images/Search.png"
                    alt="Search icon"
                    width="23"
                    height="23"
                  />
                </button>
              </form>
              <a
                class="nav-link active"
                href="#"
                aria-disabled="false"
                style="margin-right: 1.5rem"
                ><i class="fa-solid fa-user fa-lg" style="color: #19204e"></i>
              </a>
              <a
                class="nav-link active"
                style="margin-right: 1.5rem"
                href="#"
                aria-disabled="false"
                ><i
                  class="fa-solid fa-cart-shopping fa-lg"
                  style="color: #19204e"
                ></i>
              </a>
              <button
                class="navbar-toggler"
                type="button"
                width="16"
                height="16"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <!-- Breadcrumb -->
    <section id="breadcrumb">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home-page.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Sportwear
            </li>
          </ol>
        </nav>
      </div>
    </section>

    <!-- Discount Carousel -->
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide container-fluid"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="0"
          class="active"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="1"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="Images/discount-img1.png"
            class="img-fluid d-block carousel_style h-75"
            alt="disocunt banner"
          />
        </div>
        <div class="carousel-item">
          <img
            src="Images/discount-img2.jpg"
            class="img-fluid d-block carousel_style h-75"
            alt="dicscount banner"
          />
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Product -->
    <section id="product-display">
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <h2 class="text-start fw-bold mt-5 mb-4">Sportwear</h2>
          </div>

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Women</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kids</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Product detail display -->
    <section id="product-detail">
      <div class="product_bg py-1">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/nike_wear.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">
                    Nike Men Sportwear
                  </h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear1.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h6 class="card-title product_detail_style">
                    Men Windproof Sport Jacket
                  </h6>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear2.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear3.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear4.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear2.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear3.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear1.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear4.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear5.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear2.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md my-4">
              <div class="card h-100">
                <img
                  src="Images/sportwear1.png"
                  class="card-img-top object-fit-cover border rounded"
                  style="max-height: 400px"
                  alt="football-shoes"
                />

                <div class="card-body">
                  <h5 class="card-title product_detail_style">Nike Footwear</h5>
                  <div class="d-flex gap-3">
                    <p style="color: #f83f64" class="text-start fw-medium">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #f83f64"
                      ></i>
                      799
                    </p>
                    <p class="text-start fw-light text-decoration-line-through">
                      <i
                        class="fa-solid fa-baht-sign"
                        style="color: #616161"
                      ></i>
                      999
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Pagination -->
    <section id="paginations">
      <div class="container py-5">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">9</a></li>
            <li class="page-item"><a class="page-link" href="#">10</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <!-- Footer -->
    <section id="footer">
      <!-- footer lg -->
      <div class="footer_bg py-4 d-none d-sm-block">
        <div class="container">
          <div class="row justify-content-center">
            <div style="color: whitesmoke" class="col-md-2">
              <h5 style="padding-bottom: 15px" class="text-start">Shop</h5>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Tennis</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Golf</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Badminton</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Football</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Swimming</a
                >
              </div>
            </div>
            <div style="color: whitesmoke" class="col-md-2">
              <h5 style="padding-bottom: 15px" class="text-start">Brand</h5>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Nike</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >addidas</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Erke</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Jordan</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Ping</a
                >
              </div>
            </div>
            <div style="color: whitesmoke" class="col-md-2">
              <h5 style="padding-bottom: 15px" class="text-start">Equipment</h5>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Football</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Rackets</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Gym equipment</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Home fitness</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Water sport equipment</a
                >
              </div>
            </div>
            <div style="color: whitesmoke" class="col-md-2">
              <h5 style="padding-bottom: 15px" class="text-start">Sportwear</h5>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Men</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Women</a
                >
              </div>
              <div style="padding-bottom: 10px">
                <a class="link-light link-underline-opacity-0" href="shop.html"
                  >Kids</a
                >
              </div>
            </div>
            <div style="color: whitesmoke" class="col-md-2">
              <h5 style="padding-bottom: 15px" class="text-start">Help</h5>
              <div style="padding-bottom: 10px">
                <a
                  class="link-light link-underline-opacity-0"
                  href="contact-us.html "
                  >Contact us</a
                >
              </div>
            </div>
          </div>
          <!-- footer icons -->
          <div class="row">
            <div class="d-flex justify-content-center py-4">
              <div>
                <i
                  class="fa-brands fa-instagram fa-xl"
                  style="color: #ffffff; padding-right: 40px"
                ></i>
              </div>
              <div>
                <i
                  class="fa-brands fa-facebook fa-lg"
                  style="color: #ffffff; padding-right: 40px"
                ></i>
              </div>
              <div>
                <i
                  class="fa-brands fa-line fa-lg"
                  style="color: #ffffff; padding-right: 40px"
                ></i>
              </div>
              <div>
                <i
                  class="fa-solid fa-envelope fa-lg"
                  style="color: #ffffff; padding-right: 40px"
                ></i>
              </div>
            </div>
            <!-- footer logo -->
            <div class="row justify-content-center">
              <div class="col-2">
                <img
                  class="img-fluid"
                  src="Images/Apex-logos_white 1.png"
                  alt="Apex Logo"
                  width="300px"
                  height="25"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Accordion when less than md -->
      <div
        class="accordion accordion-flush d-md-none"
        id="accordionFlushExample"
      >
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Shop
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <ul
              style="padding-bottom: 10px"
              class="p-3 list-unstyled d-flex gap-2 flex-column"
            >
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Tennis</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Golf</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Badminton</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Football</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Swimming</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Brand
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <ul
              style="padding-bottom: 10px"
              class="p-3 list-unstyled d-flex gap-2 flex-column"
            >
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Nike</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Addidas</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Erke</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Jordan</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Ping</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Equipment
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <ul
              style="padding-bottom: 10px"
              class="p-3 list-unstyled d-flex gap-2 flex-column"
            >
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >footballs</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Rackets</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Gym equipment</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Home fitness</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Water sport equipment</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Sportwear
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <ul
              style="padding-bottom: 10px"
              class="p-3 list-unstyled d-flex gap-2 flex-column"
            >
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Men</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Women</a
                >
              </li>
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Kids</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              Help
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <ul
              style="padding-bottom: 10px"
              class="p-3 list-unstyled d-flex gap-2 flex-column"
            >
              <li>
                <a class="link-dark link-underline-opacity-0" href="shop.html"
                  >Contact us</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div>
          <img
            style="margin-left: auto; margin-right: auto; display: block"
            src="Images/Apex-logos_black 2.png"
            alt="Apex Logo"
            width="250"
            height="43"
          />
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
