<%- include("./layouts/header") %>

<div class="container">
    <div class="d-flex justify-content-center align-items-center mt-5 flex-column">
        <p class="text-success" style="font-size: 5rem"><i class="fa-regular fa-circle-check"></i></p>
        <h3>Your order has been confirmed</h3>
        <img src="/images/yes-kid-meme.jpg" alt="Yes!" class="img-fluid rounded-4 w-25 mt-3">
        <a href="/" class="btn btn-apex mt-5">Continue Shopping</a>
    </div>
</div>

<%- include("./layouts/footer") %>